## Employee Database Application

In [1]:
class Vehicle:
    def __init__(self, vmk, vmd, vy, vml):
        self.__make = vmk
        self.__model = vmd
        self.__year = vy
        self.__mileage = vml

    def get_make(self):
        return self.__make

    def get_model(self):
        return self.__model

    def get_year(self):
        return self.__year

    def get_mileage(self):
        return self.__mileage

    def set_make(self, vmk):
        self.__make = vmk

    def set_model(self, vmd):
        self.__model = vmd

    def set_year(self, vy):
        self.__year = vy

    def set_mileage(self, vml):
        self.__mileage = vml

    def __str__(self):
        return "Make: " + self.__make + "; Model: " + self.__model + "; Year of Manufacture: " + str(self.__year) + "; Mileage: " + str(self.__mileage)

In [2]:
vehicle1=Vehicle("Honda","Civic",2014,50000)
print(vehicle1)
print("The mileage of this vehicle is:", vehicle1.get_mileage())
vehicle1.set_year(2012)
print("The year of manufacture of this vehicle is:", vehicle1.get_year())

Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
The mileage of this vehicle is: 50000
The year of manufacture of this vehicle is: 2012

In [3]:
class Employee:
    def __init__(self, nm, addr, veh):
        self.__emp_name = nm
        self.__emp_addr = addr
        self.__vehicle = veh

    def get_emp_name(self):
        return self.__emp_name

    def get_emp_addr(self):
        return self.__emp_addr

    def get_vehicle(self):
        return self.__vehicle

    def set_emp_name(self, nm):
        self.__emp_name = nm

    def set_emp_addr(self, addr):
        self.__emp_addr = addr

    def set_vehicle(self, veh):
        self.__vehicle = veh

    def compute_compensation(self):
        pass

    def __str__(self):
        allData = "\nEmployee Name: " + self.__emp_name
        allData += "; Employee Address: " + str(self.__emp_addr)
        allData +=  "\n" + self.__vehicle.__str__()
        return allData

In [4]:
emp1=Employee("Amy", "100 W Campbell Road, Richardson, Texas, 75080",vehicle1)
print(emp1)
print("{0} lives at {1}.".format(emp1.get_emp_name(),emp1.get_emp_addr()))
print("{0} owns a {1} {2} vehicle.".format(emp1.get_emp_name(),emp1.get_vehicle().get_make(),emp1.get_vehicle().get_model()))
emp1.set_emp_addr("800 E Campbell Road, Richardson, Texas, 75080")
print("{0} lives at {1}.".format(emp1.get_emp_name(),emp1.get_emp_addr()))

Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Amy lives at 100 W Campbell Road, Richardson, Texas, 75080.
Amy owns a Honda Civic vehicle.
Amy lives at 800 E Campbell Road, Richardson, Texas, 75080.

In [5]:
#Full Time Employee class inherits from Employee class
#the order of the four required positional arguments should be: name,address,vehicle object,salary

class FullTimeEmployee(Employee):
    def __init__(self, nm, addr, veh, sal):
        Employee.__init__(self,nm, addr, veh)
        self.__salary = sal
        
    def get_salary(self):
        return self.__salary

    def set_salary(self, sal):
        self.__salary = sal
        
    def compute_compensation(self):
        if self.__salary <= 45000:
            annual_compensation = self.__salary * (1 - 0.18)
        elif self.__salary > 45000 and self.__salary <= 82000:
            annual_compensation = (self.__salary - 45000) * (1 - 0.28) + 36900
        else:
            annual_compensation = (self.__salary - 82000) * (1 - 0.33) + 63540
        return (annual_compensation/52)
    
    def compute_reimbursement(self,exp):
        if int(exp) <= 10000:
            annual_reimb = int(exp)
        else :
            annual_reimb = 10000 + (0.5 * (exp-10000))
        return (annual_reimb/52)
    

    def __str__(self):

        childData = super().__str__()
        childData = "\nDetails of this Full Time Employee are:" + childData
        childData += "\nSalary: " + '{0:0.2f}'.format(self.__salary)
        return childData

In [6]:
emp2=FullTimeEmployee("Amy", "100 W Campbell Road, Richardson, Texas, 75080", vehicle1, 40000)
print(emp2)
print("{0} has an annual salary of ${1}.".format(emp2.get_emp_name(),emp2.get_salary()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp2.get_emp_name(),emp2.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp2.get_emp_name(),emp2.compute_reimbursement(12000)))
emp2.set_salary(50000)
print("{0} has an annual salary of ${1}.".format(emp2.get_emp_name(),emp2.get_salary()))

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Salary: 40000.00
Amy has an annual salary of $40000.
Amy has a weekly compensation of $630.77.
Amy has a weekly reimbursement of $211.54.
Amy has an annual salary of $50000.

In [7]:
#Hourly Employee class inherits from Employee class
#the order of the five required positional arguments should be: name,address,vehicle object,hours worked,hourly rate

class HourlyEmployee(Employee):

    def __init__(self, nm, addr, veh, hw, hr):
        super().__init__(nm, addr, veh)
        self.__hours_wrkd = hw
        self.__hourly_rate = hr

    def get_hours_worked(self):
        return self.__hours_wrkd

    def get_hourly_rate(self):
        return self.__hourly_rate            

    def set_hours_worked(self, hw):
        self.__hours_wrkd = hw

    def set_hourly_rate(self, hr):
        self.__hourly_rate = hr

    def compute_compensation(self):
        if self.__hours_wrkd > 40:
            return self.__hourly_rate * 40 + self.__hourly_rate * 1.8 * (self.__hours_wrkd - 40)
        else:
            return self.__hourly_rate * self.__hours_wrkd
        
    def compute_reimbursement(self,wexp):
        if wexp <= 100:
            wreimb = wexp
        else :
            wreimb = 100
        return (wreimb)

    def __str__(self):
        childData = super().__str__()
        childData = "\nDetails of this Hourly Employee are:" + childData
        childData += "\nHours Worked: " + str(self.__hours_wrkd)
        childData += "; Hourly Rate: " + str(self.__hourly_rate)
        return childData

In [8]:
emp3=HourlyEmployee("Grace", "400 W Campbell Road, Richardson, Texas, 75080", vehicle1,50,20)
print(emp3)
print("{0} works {1} hours per week at an hourly rate of ${2}.".format(emp3.get_emp_name(),emp3.get_hours_worked(),emp3.get_hourly_rate()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp3.get_emp_name(),emp3.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp3.get_emp_name(),emp3.compute_reimbursement(120)))
emp3.set_hourly_rate(22)
print("{0} works {1} hours per week at an hourly rate of ${2}.".format(emp3.get_emp_name(),emp3.get_hours_worked(),emp3.get_hourly_rate()))

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Hours Worked: 50; Hourly Rate: 20
Grace works 50 hours per week at an hourly rate of $20.
Grace has a weekly compensation of $1160.00.
Grace has a weekly reimbursement of $100.00.
Grace works 50 hours per week at an hourly rate of $22.

In [9]:
#Consultant class inherits from Employee class
#the order of the five required positional arguments should be: name,address,vehicle object,hours worked,project type

class Consultant(Employee):
    def __init__(self, nm, addr, veh, hw, pt):
        Employee.__init__(self,nm, addr, veh)
        self.__hours_wrkd = hw
        self.__project_type = pt

    def get_hours_worked(self):
        return self.__hours_wrkd        

    def get_project_type(self):
        return self.__project_type

    def set_hours_worked(self, hw):
        self.__hours_wrkd = hw

    def set_project_type(self, pt):
        self.__project_type = pt

    def compute_compensation(self):
        if self.__project_type == 1:
            hrly_rate = 55
        elif self.__project_type == 2:
            hrly_rate = 70
        else:
            hrly_rate = 85
        return self.__hours_wrkd * hrly_rate
    
    def compute_reimbursement(self,cwexp):
        if self.__project_type == 1:
            cwreimb = cwexp
        elif self.__project_type == 2 :
            cwreimb = 0.9 * cwexp
        else :
            cwreimb = 0.8 * cwexp
        return (cwreimb)
    
    
    def __str__(self):
        childData = super().__str__()
        childData = "\nDetails of this Consultant are:" + childData
        childData += "\nHours Worked: " + str(self.__hours_wrkd)
        childData += "; Project Type: " + str(self.__project_type)
        return childData

In [10]:
emp4=Consultant("Michael", "700 W Campbell Road, Richardson, Texas, 75080",vehicle1,40,2)
print(emp4)
print("{0} works {1} hours per week for type {2} project.".format(emp4.get_emp_name(),emp4.get_hours_worked(),emp4.get_project_type()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp4.get_emp_name(),emp4.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp4.get_emp_name(),emp4.compute_reimbursement(300)))
emp4.set_hours_worked(35)
print("{0} works {1} hours per week for type {2} project.".format(emp4.get_emp_name(),emp4.get_hours_worked(),emp4.get_project_type()))

Details of this Consultant are:
Employee Name: Michael; Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Hours Worked: 40; Project Type: 2
Michael works 40 hours per week for type 2 project.
Michael has a weekly compensation of $2800.00.
Michael has a weekly reimbursement of $270.00.
Michael works 35 hours per week for type 2 project.

In [11]:
#Management class inherits from both Full Time Employee class and Consultant class
#the order of the six required positional arguments should be: name, address,vehicle object, salary, hours worked, project type


class Management(FullTimeEmployee,Consultant):
    def __init__(self,nm, addr, veh, sal, hw, pt):
        FullTimeEmployee.__init__(self, nm, addr, veh, sal)
        Consultant.__init__(self, nm, addr, veh, hw, pt)
        
    def compute_compensation(self):
        compensation = FullTimeEmployee.compute_compensation(self) + Consultant.compute_compensation(self)
        return compensation
    
    def compute_reimbursement(self,exp,cwexp):
        reimb = FullTimeEmployee.compute_reimbursement(self,exp) + Consultant.compute_reimbursement(self,cwexp)
        return reimb
    
    def __str__(self):
        data = "\nDetails of this Management are:"
        data += Employee.__str__(self) + "\n"
        data += "Salary: "+str(FullTimeEmployee.get_salary(self))+"; "
        data += "Hours Worked: "+str(Consultant.get_hours_worked(self))+"; Project Type: "+str(Consultant.get_project_type(self))
        return data

In [12]:
emp5=Management("Jane", "1000 W Campbell Road, Richardson, Texas, 75080",vehicle1,120000,10,3)
print(emp5)
print("\n")
print("{0} has an annual salary of ${1}.".format(emp5.get_emp_name(),emp5.get_salary()))
print("{0} works {1} hours per week for type {2} project.".format(emp5.get_emp_name(),emp5.get_hours_worked(),emp5.get_project_type()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp5.get_emp_name(),emp5.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp5.get_emp_name(),emp5.compute_reimbursement(8000,300)))

Details of this Management are:
Employee Name: Jane; Employee Address: 1000 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Salary: 120000; Hours Worked: 10; Project Type: 3


Jane has an annual salary of $120000.
Jane works 10 hours per week for type 3 project.
Jane has a weekly compensation of $2561.54.
Jane has a weekly reimbursement of $393.85.

In [13]:
#this function is used to ask for basic employee information and then return them: name and address

def get_emp_input():
    name = input("Enter the employee's name: ")
    addr = input("Enter the employee's address: ")
    return name,addr

In [14]:
name, address=get_emp_input()
print("{0} lives at {1}.".format(name,address))

Enter the employee's name: Bob
Enter the employee's address: 350 E Campbell Road, Richardson, Texas, 75080
Bob lives at 350 E Campbell Road, Richardson, Texas, 75080.

In [15]:
#this function is used to ask for vehicle information and then return them: make,model,year,mileage

def get_vehicle_input():
    veh_make = input('Enter the vehicle make: ')
    veh_model = input('Enter the vehicle model: ')
    veh_year = int(input('Enter the year of manufacture (yyyy):'))
        
    while True:
        try:
            if veh_year >= 1900 and veh_year <= 2020:
                break
            raise Exception
        except Exception :
            print('Please enter an integer value for year in the format of yyyy between 1900 and 2020.')
            veh_year = int(input('Enter the year of manufacture (yyyy):'))
            
                
    veh_mileage = int(input('Enter the mileage:')) 
    
    while True:
        try:
            if veh_mileage > 0:
                break
            raise Exception
        except Exception :
            print('Please enter a positive number.')
            veh_mileage = int(input('Enter the mileage:'))
    
    return (veh_make, veh_model, veh_year, veh_mileage)

In [16]:
vehiclemake, vehiclemodel, vehicleyear, vehiclemileage = get_vehicle_input()  
print("The vehicle entered is a {0} {1} made in {2} with {3} mileage curently.".format(vehiclemake, vehiclemodel, vehicleyear, vehiclemileage))

Enter the vehicle make: Ford
Enter the vehicle model: Ranger
Enter the year of manufacture (yyyy):2021
Please enter an integer value for year in the format of yyyy between 1900 and 2020.
Enter the year of manufacture (yyyy):2011
Enter the mileage:80000
The vehicle entered is a Ford Ranger made in 2011 with 80000 mileage curently.

In [17]:
#this function is used to ask for specific information of full time employees and then return it: annual salary

def get_full_time_input():
    salary = float(input("Enter the annual salary: "))
    return salary

In [18]:
salary=get_full_time_input()
print("The annual salary entered is {0:0.2f}".format(salary))

Enter the annual salary: 80000
The annual salary entered is 80000.00

In [19]:
#this function is used to ask for specific information of hourly employees and then return them: hours worked, hourly rate

def get_hourly_input():
    
    hours_worked = int(input("Enter the hours worked:"))
    hourly_rate = float(input("Enter the hourly rate:"))
    return hours_worked,hourly_rate

In [20]:
hours_worked, hourly_rate = get_hourly_input()
print("This hourly employee works {0} hours per week at an hourly rate of ${1:0.2f}".format(hours_worked,hourly_rate))

Enter the hours worked:30
Enter the hourly rate:20
This hourly employee works 30 hours per week at an hourly rate of $20.00

In [21]:
#this function is used to ask for specific information of consultants and then return them: hours worked, project type

def get_consultant_input():
    hoursworked = int(input("Enter the hours worked:"))
    project_type = int(input("Project Type? (Enter a number between 1 and 3):"))
    return hoursworked,project_type

In [22]:
hours_worked, project_type = get_consultant_input()
print("This consultant works {0} hours per week for type {1} project.".format(hours_worked,project_type))

Enter the hours worked:40
Project Type? (Enter a number between 1 and 3):2
This consultant works 40 hours per week for type 2 project.

In [23]:
#this function is used to ask for specific information of managements and then return them: annual salary, hours worked, project type

def get_management_input():
    salary = float(input("Enter the annual salary : "))
    hours_wrkd = int(input("Enter the hours worked: "))
    project_type = int(input("Project Type? (Enter a number between 1 and 3): "))
    return salary , hours_wrkd , project_type

In [24]:
salary, hours_worked, project_type = get_management_input()
print("This management has an annual salary of ${0:0.2f}. This management also works {1} hours per week additionally for type {2} project.".format(salary, hours_worked,project_type))

Enter the annual salary : 100000
Enter the hours worked: 8
Project Type? (Enter a number between 1 and 3): 3
This management has an annual salary of $100000.00. This management also works 8 hours per week additionally for type 3 project.

In [25]:
#this function is used to read information from an existing databse/binary file, which is empdata.dat in the final exam

import pickle
def read_file_data(): 
        obj = []
        try:
            with (open("empdata.dat", "rb")) as fb:
                 while(True):
                        try:
                            obj.append(pickle.load(fb))               
                        except EOFError :
                            break
        except FileNotFoundError:
                print("File doesnot exist") 
        return obj

In [26]:
emp_list=read_file_data()
print("There are {} employees stored in the database.".format(len(emp_list)))
print("\nBelow is the information of the first employee in the database: {}".format(emp_list[0]))
print("\n{} is the first employee.".format(emp_list[0].get_emp_name()))

There are 9 employees stored in the database.

Below is the information of the first employee in the database:
Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Amy is the first employee.

In [27]:
#the idea is to walk through users to input required information
#the first and foremost step is to ask for emloyee type

def run_option1():
    #ask for employee type
    #exceptions need to be handled here to accept valid input 

    sel = input("Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :")
        
    while True:
        try:
            if int(sel) >= 1 and int(sel) <= 4:
                break
            raise Exception
        except Exception :
            print('Please select an option from 1, 2, 3, and 4.')
            sel = input("Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :")
            
    sel = int(sel)
    
    #call the previous get_emp_input() to ask for employee information and store the values      
    name, address = get_emp_input()
    
    #call the previous get_vehicle_input() to ask for vehicle information and store the values
    vehiclemake, vehiclemodel, vehicleyear, vehiclemileage = get_vehicle_input()    
    
    #create an object of Vehicle class using the prervious information
    a_vehicle = Vehicle(vehiclemake, vehiclemodel, vehicleyear, vehiclemileage)
    
    #depending on previous input, call the prervious functions to ask for corresponding information
    #then use all the required information to create an object of a certain class 
    #type 1:annual salary
    #type 2:hours worked,hourly rate
    #type 3:hours worked, project type
    #type 4:annual salary, hours worked, project type
    if sel == 1:
        sal = get_full_time_input()
        an_emp = FullTimeEmployee(name, address, a_vehicle,sal)
    elif sel == 2:
        hw, hr = get_hourly_input()
        an_emp = HourlyEmployee(name, address, a_vehicle, hw, hr)
    elif sel == 3:
        hw, pt = get_consultant_input()
        an_emp = Consultant(name, address, a_vehicle, hw, pt)
    elif sel ==4:
        sal, hw, pt = get_management_input()
        an_emp = Management(name, address, a_vehicle, sal, hw, pt)
    
    print(an_emp)
    
    print("\n============================================================")        
    print("New employee entered successfully! Now going to the main menu.")
    print("==============================================================")      
    return an_emp

In [28]:
run_option1()

Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :5
Please select an option from 1, 2, 3, and 4.
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :zzz
Please select an option from 1, 2, 3, and 4.
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :4
Enter the employee's name: David
Enter the employee's address: 103 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: BMW
Enter the vehicle model: X3
Enter the year of manufacture (yyyy):2018
Enter the mileage:5000
Enter the annual salary : 110000
Enter the hours worked: 5
Project Type? (Enter a number between 1 and 3): 2

Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018; Mileage: 5000
Salary: 110000.0; Hours Worked: 5; Project Type: 2

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

In [30]:
#the function is to print centain number of employees as required by users
#first choice:print all employees; second choice: print first 5 employees when there are at least 5 employees (print all if fewer than 5)

def run_option2(my_lst):
    option = input("Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? " )    
    
    while True:
        try:
            if int(option) == 1 or int(option) == 2:
                break
            raise Exception                  
            
        except Exception :
            print('Please select 1 or 2')
            option = input("Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? " )
    
    if int(option) == 1:
        print("\n==========================================================================")
        print("Below is the information of all employees stored in the database.")
        print("==========================================================================")  
        for i in range(0,len(my_lst)):
                print(my_lst[i])
            
    if int(option) == 2:
        print("\n==========================================================================")
        print("Below is the information of first 5 employees stored in the database.")
        print("==========================================================================")  
        if len(my_lst) >=5:
                for i in range(0,5) :
                      print(my_lst[i])

In [31]:
run_option2(emp_list)

Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? 3
Please select 1 or 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? zzz
Please select 1 or 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? 2

==========================================================================
Below is the information of first 5 employees stored in the database.
==========================================================================

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00

Details of this Full Time Employee are:
Employee Name: Evan; Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016; Mileage: 30000
Salary: 120000.00

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25

In [32]:
#the function is used to print compensations of all Employees
def run_option3(my_lst):
    print("\nEmployee name and Compensation of all Employees")
    print("=================================================")
    
    for i in range(0,len(my_lst)):
        print("{0}'s weekly compensation is ${1:0.2f}".format(my_lst[i].get_emp_name(),my_lst[i].compute_compensation()))

In [33]:

run_option3(emp_list)

Employee name and Compensation of all Employees
=================================================
Amy's weekly compensation is $630.77
Bob's weekly compensation is $1194.23
Evan's weekly compensation is $1711.54
Grace's weekly compensation is $1160.00
James's weekly compensation is $750.00
Luna's weekly compensation is $300.00
Michael's weekly compensation is $2200.00
Tom's weekly compensation is $3500.00
Zoey's weekly compensation is $2550.00

In [34]:
#the function is used to search for an employee by name and the searching is NOT case sensitive
#if there are some matching cases, print the information of all matched employees
#if no matchng cases, print "There is no employee matching the name you entered."

def run_option4(my_lst):
    search = input("Please enter the name of the employee you want to search : ")
    lst = []
    count = 0
    for i in range(0,len(my_lst)):
            if search.lower() == my_lst[i].get_emp_name().lower():
                            lst.append(my_lst[i]) 
                            count += 1
 
    if count==0:
        print("There is no employee matching the name you entered.")
    else:
                                   
        print("\n==========================================================================")
        print("Below is the information of all employees that match the name you entered.")
        print("==========================================================================")
        for i in range(0,len(lst)):
            print(lst[i])
        
    return lst

In [35]:
matched_emp_list=run_option4(emp_list)
print("\nThere are {} employees matching your search.".format(len(matched_emp_list)))

Please enter the name of the employee you want to search : TOM

==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Consultant are:
Employee Name: Tom; Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018; Mileage: 30000
Hours Worked: 50; Project Type: 2

There are 1 employees matching your search.

In [36]:
run_option4(emp_list)

Please enter the name of the employee you want to search : Hongchang
There is no employee matching the name you entered.

[]

In [37]:
#the function is used to show some basic statistics. They are: 
#(1) the number of employees stored in the database
#(2) the highest weekly compensation
#(3) the mean weekly compensation
#(4) the number of employees who have a vehicle with over 100,000 mileage

def run_option5(my_lst):
    print("\n==========================================================================")
    print("Below is the statistics of all employees in this database.")
    print("==========================================================================")
    
    print("There are {} employees stored in this database.".format(len(my_lst)))
    
    comp = []
    for i in range(0,len(my_lst)):
        comp.append(my_lst[i].compute_compensation())
        
    print(f'The highist weekly compensation is ${max(comp)}')
    
    print(f'The mean weekly compensation is: ${(round(sum(comp)/len(comp),2))}')
                                              
    mil =[]
    temp = 0
    for i in my_lst:
        mil += [i.get_vehicle().get_mileage()]
    for k in mil:
        if int(k) > 100000:
                temp+=1
                                              
    print("The number of employees who have a vehicle with over 100,000 mileage is", temp)

In [38]:
run_option5(emp_list)

==========================================================================
Below is the statistics of all employees in this database.
==========================================================================
There are 9 employees stored in this database.
The highist weekly compensation is $3500
The mean weekly compensation is: $1555.17
The number of employees who have a vehicle with over 100,000 mileage is 2

In [39]:
#the function is used to compute weekly reimbursement (assuming the user has the requirerd information)

def run_option6(emp_list):
    matched_list=run_option4(emp_list)
    choice=int(input("Which employee do you want to check (enter a number)? "))
    emp=matched_list[choice-1]
    if type(emp) == FullTimeEmployee:
            annual_exp = float(input('What is the annual expense? '))
            print("\n############################################################")
            print('This employee should have a weekly reimbursement of ${0:0.2f}'.format(emp.compute_reimbursement(annual_exp)))
            
    elif type(emp) == HourlyEmployee or type(emp) == Consultant :
            weekly_exp = float(input('What is the weekly expense? '))
            print("\n############################################################")
            print('This employee should have a weekly reimbursement of ${0:0.2f}'.format(emp.compute_reimbursement(weekly_exp)))

    else:
            annual_exp = float(input('What is the annual expense?'))
            weekly_exp = float(input('What is the weekly expense?'))
            print("\n############################################################")
            print('This employee should have a weekly reimbursement of ${0:0.2f}'.format(emp.compute_reimbursement(annual_exp,weekly_exp)))

In [40]:
run_option6(emp_list)

Please enter the name of the employee you want to search : bob

==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00
Which employee do you want to check (enter a number)? 1
What is the annual expense? 8000

############################################################
This employee should have a weekly reimbursement of $153.85

In [41]:
run_option6(emp_list)

Please enter the name of the employee you want to search : james

==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25
Which employee do you want to check (enter a number)? 1
What is the weekly expense? 130

############################################################
This employee should have a weekly reimbursement of $100.00

In [42]:
#the function is used to store changes into a new file/database (i.e. empdata_updated.dat) and exit the program

import sys
def run_option7(my_lst):
    print("You chose to exit the program ")
    exit = input("Are you sure (Y/N)? ")
    if exit.lower() =='n':
        print("\n=================================")
        print("Going back to the selection menu.")
        print("=================================")
        
    elif exit.lower() =='y':
        with open("empdata_updated.dat","wb") as file:
            for emp in my_lst:
                pickle.dump(emp,file)             
            
        print("\n=================================")
        print("Program successfully being closed")
        print("=================================")
        sys.exit()
    
    else:
        print("Your input doesn't match any valid option and has been considered as 'N'.")
        print("Going back to the selection menu.")

In [43]:
run_option7(emp_list)

You chose to exit the program
Are you sure (Y/N)? b
Your input doesn't match any valid option and has been considered as 'N'.
Going back to the selection menu.

In [44]:
run_option7(emp_list)

You chose to exit the program
Are you sure (Y/N)? n

=================================
Going back to the selection menu.
=================================

In [45]:
run_option7(emp_list)

You chose to exit the program
Are you sure (Y/N)? y

=================================
Program successfully being closed
=================================

SystemExit:

C:\Users\medhi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3426: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [46]:
#the application menu provides 7 options
#when user selects a valid option (except for 7), execute that option and come back to the menu again

def run_menu_options():
    #read employee objects in to a list
    emp_list = read_file_data()
    while True:
    #display 7 options and ask users to select from them and execute the selection
        sel = 1
        while int(sel) <=  7 and int(sel) >= 1:
        #display options
            print("\n==== Menu ====")
            print("1. To add an employee")
            print("2. To print the name and address of employees")
            print("3. To print the employee name and compensation of all employees")
            print("4. To search for employees by name")
            print("5. To check the basic statistics of employees")
            print("6. To calculate the reimbursement of one employee")
            print("7. To exit program")
            
            try:
                sel = int(input("Your selection is: "))
                    

            except ValueError:
                    print("\n=========================================")
                    print("You must enter an integer between 1 and 7!")
                    print("=========================================")
                    continue

            #execute selection
            if sel == 1:
                emp_list.append(run_option1())
            elif sel == 2:
                run_option2(emp_list)
            elif sel == 3:
                run_option3(emp_list)
            elif sel == 4:
                run_option4(emp_list)
            elif sel == 5:
                run_option5(emp_list)
            elif sel == 6:
                run_option6(emp_list)
            elif sel == 7:  
                run_option7(emp_list)
            else:
                print("\n=========================================")
                print("You must enter an integer between 1 and 7!")
                print("=========================================")

In [47]:

run_menu_options()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 0

=========================================
You must enter an integer between 1 and 7!
=========================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 8

=========================================
You must enter an integer between 1 and 7!
=========================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: zzz

=========================================
You must enter an integer between 1 and 7!
=========================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 7
You chose to exit the program
Are you sure (Y/N)? n

=================================
Going back to the selection menu.
=================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 7
You chose to exit the program
Are you sure (Y/N)? y

=================================
Program successfully being closed
=================================

SystemExit:

In [48]:
#step 1: choose option 1 three times and enter the following three employees
#type 4 employee: David; 103 E Campbell Road, Richardson, Texas, 75080; BMW; X3; 2018;5000;110000;5;2
#type 4 employee: Grace; 105 E Campbell Road, Richardson, Texas, 75080; Porsche; Cayenne; 2019;3000;150000;8;1
#type 4 employee: Zoey; 107 E Campbell Road, Richardson, Texas, 75080; Audi; A3; 2015;35000;90000;10;3
    

#step 2: choose option 2
#then choose 1

#step 3:choose option 3

#step 4:choose option 4 
#then type in: grace (all lower cases)

#step 5:choose option 5

#step 6:choose option 6 
#then type in: ZOEY (all upper cases); then 1; then 120

#step 7:choose option 7
#then type in: y
run_menu_options()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :4
Enter the employee's name: David
Enter the employee's address: 103 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: BMW
Enter the vehicle model: X3
Enter the year of manufacture (yyyy):2018
Enter the mileage:5000
Enter the annual salary : 110000
Enter the hours worked: 5
Project Type? (Enter a number between 1 and 3): 2

Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018; Mileage: 5000
Salary: 110000.0; Hours Worked: 5; Project Type: 2

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :4
Enter the employee's name: Grace
Enter the employee's address: 105 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: Porsche
Enter the vehicle model: Cayenne
Enter the year of manufacture (yyyy):2019
Enter the mileage:3000
Enter the annual salary : 150000
Enter the hours worked: 8
Project Type? (Enter a number between 1 and 3): 1

Details of this Management are:
Employee Name: Grace; Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche; Model: Cayenne; Year of Manufacture: 2019; Mileage: 3000
Salary: 150000.0; Hours Worked: 8; Project Type: 1

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :4
Enter the employee's name: Zoey
Enter the employee's address: 107 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: Audi
Enter the vehicle model: A3
Enter the year of manufacture (yyyy):2015
Enter the mileage:35000
Enter the annual salary : 90000
Enter the hours worked: 10
Project Type? (Enter a number between 1 and 3): 3

Details of this Management are:
Employee Name: Zoey; Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi; Model: A3; Year of Manufacture: 2015; Mileage: 35000
Salary: 90000.0; Hours Worked: 10; Project Type: 3

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? 1

==========================================================================
Below is the information of all employees stored in the database.
==========================================================================

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00

Details of this Full Time Employee are:
Employee Name: Evan; Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016; Mileage: 30000
Salary: 120000.00

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25

Details of this Hourly Employee are:
Employee Name: Luna; Employee Address: 600 W Campbell Road, Richardson, Texas, 75080
Make: Nissan; Model: Sentra; Year of Manufacture: 2005; Mileage: 160000
Hours Worked: 20; Hourly Rate: 15

Details of this Consultant are:
Employee Name: Michael; Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Ford; Model: Ranger; Year of Manufacture: 2011; Mileage: 80000
Hours Worked: 40; Project Type: 1

Details of this Consultant are:
Employee Name: Tom; Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018; Mileage: 30000
Hours Worked: 50; Project Type: 2

Details of this Consultant are:
Employee Name: Zoey; Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018; Mileage: 15000
Hours Worked: 30; Project Type: 3

Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018; Mileage: 5000
Salary: 110000.0; Hours Worked: 5; Project Type: 2

Details of this Management are:
Employee Name: Grace; Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche; Model: Cayenne; Year of Manufacture: 2019; Mileage: 3000
Salary: 150000.0; Hours Worked: 8; Project Type: 1

Details of this Management are:
Employee Name: Zoey; Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi; Model: A3; Year of Manufacture: 2015; Mileage: 35000
Salary: 90000.0; Hours Worked: 10; Project Type: 3

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 3

Employee name and Compensation of all Employees
=================================================
Amy's weekly compensation is $630.77
Bob's weekly compensation is $1194.23
Evan's weekly compensation is $1711.54
Grace's weekly compensation is $1160.00
James's weekly compensation is $750.00
Luna's weekly compensation is $300.00
Michael's weekly compensation is $2200.00
Tom's weekly compensation is $3500.00
Zoey's weekly compensation is $2550.00
David's weekly compensation is $1932.69
Grace's weekly compensation is $2538.08
Zoey's weekly compensation is $2175.00

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 4
Please enter the name of the employee you want to search : grace

==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Management are:
Employee Name: Grace; Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche; Model: Cayenne; Year of Manufacture: 2019; Mileage: 3000
Salary: 150000.0; Hours Worked: 8; Project Type: 1

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program

Your selection is: 5

==========================================================================
Below is the statistics of all employees in this database.
==========================================================================
There are 12 employees stored in this database.
The highist weekly compensation is $3500
The mean weekly compensation is: $1720.19
The number of employees who have a vehicle with over 100,000 mileage is 2

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 6
Please enter the name of the employee you want to search : ZOEY

==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Consultant are:
Employee Name: Zoey; Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018; Mileage: 15000
Hours Worked: 30; Project Type: 3

Details of this Management are:
Employee Name: Zoey; Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi; Model: A3; Year of Manufacture: 2015; Mileage: 35000
Salary: 90000.0; Hours Worked: 10; Project Type: 3
Which employee do you want to check (enter a number)? 1
What is the weekly expense? 120

############################################################
This employee should have a weekly reimbursement of $96.00

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 7
You chose to exit the program
Are you sure (Y/N)? y

=================================
Program successfully being closed
=================================

SystemExit: